.modal-divider {
  border-top: 1px solid #e8e8e8; /* Màu và kiểu đường kẻ */
  margin: 16px 0; /* Khoảng cách giữa đường kẻ và các phần khác */
}

/* CSS cho phần nội dung */
.content-section {
  padding: 16px; /* Padding để tạo khoảng cách với viền */
}
