.navbar {
  padding: 5px;
  background-color: #ffffff;
  width: 100vw;
  height: 5vh;
  .link {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
  }

  .auth {
    font-size: large;
    display: flex;
    .button {
      margin-left: 10px;
    }
  }
}
