.App {
  text-align: center;
}

:root {
  --color-main: #f54558;
  --big-title-font-size: 3rem;
  --form-title-font-size: 2rem;
  --title-color: #1677ff;
  --height-navbar: 60px;
  --gray: #8a8a8a;
  --background-banner: #d7e1e380;
  --background-box-search: #62c1c526;
  --search: #18898d;
  --height-banner: 300px;
  --color-image: #095a88;
  --color-job-box: #62c2c53e;
  --color-yellow: #f9ba19d6;
  --color-gray-job: #898484;
  --color-smoke: rgba(217, 217, 217, 0.13);
  --color-gray-card-user: rgba(217, 217, 217, 0.47);
  --background-hr: #f5f5f5;
  --violet: #9f73c1;
  --jade: #45b3b4;
  --color-snow-300: #e3e6ef
}
