.active {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size:xx-large;
  font-weight: 600;
  color: var(--title-color)
}

.active-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
