#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    margin-top: 5%;
    text-align: center;
    .form-title {
      color: var(--title-color);
      font-size: var(--form-title-font-size);
    }
    padding: 40px;
    background-color: white;
    border-radius: 20px;
  }
}
